@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;

}
body{
    height: 100vh;
    width: 100vw;
    background: url(imagens/fundo-madeira.jpg) no-repeat top center;
    background-size:cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
}

.iphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 625px;
    width: 311px;
    background: url(imagens/frame-iphone.png) no-repeat;
}

.redes{
    display: flex;
    flex-direction: column;

}
.links{
    display: flex;
    height: 60px;
    padding: 10px;

    border-radius: 50%;
    float: right;
}

.tela{
    position: relative;
    top: 79px;
    left: 21px;
    width: 269px;
    height: 472px;
}